* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4af6c8;
    --secondary-color: #09147d;
    --accent-color: #e85d2b;
    --text-color: #000000;
}

body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Monteserat', cursive;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 2px solid var(--text-color);
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.box:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #f9f7f7;
    border-color: var(--primary-color);
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.winnerBox{
    position:absolute;
    z-index: -2;
    top:calc(50vh - 70px);
    font-size: 50px;
    scale:.2;
    opacity:0;
    height:242px;
    width:250px;
    background: url("https://media.tenor.com/NzH_xwU81M0AAAAi/sampsoid-sampsoid-racing.gif");
    background-size: cover;
}

.winnerText{
    font-size: 40px;
    color: var(--text-color);
    opacity: 0;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.appear{
    transition:1s ease-in-out;
    opacity:1;
    scale:1;
    z-index: 3;
}
