*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4af6c8;
    --winning-blocks: #000000;
    --darkblue:#09147d;
}

body {
    color: var(--winning-blocks);
    font-family: 'Finger Paint', cursive;
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size:100%;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 120px;
    border: 2px solid;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--darkblue);
    color: #f9f7f7;
    border-color: var(--blue);
    font-size: 15px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.winnerBox{
    position:absolute;
    top:calc(50vh - 70px);
    font-size: 50px;
    scale:.2;
    opacity:0;
    color:orange;
    height:242px;
    width:250px;
    background: url("https://media.tenor.com/NzH_xwU81M0AAAAi/sampsoid-sampsoid-racing.gif");
    background-size: cover;
}

.winnerText{
    scale:.2;
    opacity:0;
    height:40px;
    font-size:40px;
    color:black;
}

.appear{
    transition:1s ease-in-out;
    opacity:1;
    scale:1;
}